@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

header {
  background-image: url(../../../assets/images/lovelyme.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.navbar {
  /* Estilo del navBar para que sea transparente y tenga sombra */
  z-index: 1;
  background-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

nav ul li a {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  padding: 10px 20px; }

nav ul li a:hover {
  background: #ff4400e8;
  opacity: 0.8;
  border-radius: 25px;
  transition: 0.5s;
  -webkit-transition: 0.5s; }

@media (max-width: 767px) {
  .navbar-dark {
    background: #343a40; } }

.header_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "titulo      titulo" "selector   selector" "boton       boton";
  height: 70vh;
  justify-items: center;
  align-content: center;
  -ms-flex-line-pack: center; }

.header_container > div {
  display: block; }

.header_container .header_containerTitulo {
  grid-area: titulo;
  margin: 5vh 0 7vh 0;
  color: white;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  /* Para que el titulo quede en 2 renglones */
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center; }

.header_containerTitulo .header_titulo {
  font-size: 60px;
  font-family: 'Fredoka One', cursive; }

.header_container .header_containerSelector {
  grid-area: selector;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  /* Esto hace que los dos selectores queden como inline-block */
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  /* Separacion entre selectores y boton "Como funciona" */
  margin-bottom: 8vh; }

/* Lo que se hizo con CSS y con los pseudo-elementos es:
1: Crear un borde colorido alrededor del selector
2: Ocultar con CSS el boton del selector por defecto del navegador, con un cuadrado de color (en pseudo-elemento ::before)
3: Con CSS crear un triangulo y centrarlo en medio del boton del selector (en pseudo-elemento ::before) */
.header_containerSelector .header_selector1 {
  /* Deja un espacio entre selector 1 y selector 2 */
  margin-right: 5vh;
  /* Si se mueve demasiado el padding, no se podrá hacer click en una parte
  del cuadrado colorido del selector */
  padding-right: 1px;
  position: relative;
  background: #fff;
  border: 1px solid #ff4500;
  cursor: pointer; }

.header_containerSelector .header_selector1::before {
  content: '';
  background: #ff4500;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  /* Ancho del cuadrado colorido del selector */
  width: 30px;
  pointer-events: none; }

.header_containerSelector .header_selector1::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  /* Medidas del triangulo, base y altura */
  border-width: 7px 5px 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.header_containerSelector .header_selector2 {
  position: relative;
  background: #fff;
  border: 1px solid #ff4500;
  cursor: pointer; }

.header_containerSelector .header_selector2::before {
  content: '';
  background: #ff4500;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  /* Ancho del cuadrado colorido del selector */
  width: 30px;
  pointer-events: none; }

.header_containerSelector .header_selector2::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.header_containerSelector select {
  border: none;
  background: none;
  padding: 5px 40px 5px 10px;
  cursor: pointer; }

/* Arregla bug en Internet Explorer */
.header_containerSelector select::-ms-expand {
  display: none; }

.header_containerSelector select:focus {
  outline: none; }

.header_containerSelector option {
  font-family: 'Roboto', sans-serif; }

.header_container .header_btn {
  font-family: 'Fredoka One', cursive;
  grid-area: boton;
  height: 30px;
  background: #ff4500;
  color: white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  text-align: center;
  padding-top: 15px; }

@media screen and (max-width: 1200px) {
  .header_containerTitulo .header_titulo {
    font-size: 50px; } }

@media screen and (max-width: 576px) {
  .header_container {
    margin-top: 5vh; }
  .header_container .header_containerTitulo {
    width: 350px;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    justify-self: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header_containerTitulo .header_titulo {
    font-size: 60px; }
  .header_container .header_containerSelector {
    /* Esto hace que los dos selectores queden uno encima del otro */
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; }
  .header_containerSelector .header_selector1 {
    margin-right: 0vh;
    margin-bottom: 5vh; }
  .header_selector1 .select1 {
    padding: 5px 150px 5px 10px; } }

@media screen and (max-width: 400px) {
  .header_container .header_containerTitulo {
    width: auto; }
  .header_containerTitulo .header_titulo {
    font-size: 45px; } }
