<!-- NavBar de Bootstrap, imagen de fondo, contenedor con titulo y selectores -->
<header>
  <div class="container-fluid m-0 p-0">
    <nav class="navbar navbar-expand-md navbar-dark py-0">
      <a class="navbar-brand mr-0 ml-4 py-0" href="#">
        <img src="../../../assets/images/logo.png" width="125px" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active mx-auto">
            <a class="nav-link px-5 mr-2 my-3" href="#">Ingresar <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active mx-auto">
            <a class="nav-link px-5 mr-2 my-3" href="#">Registrarse <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Contenedor con titulo, selector y boton auto-scroll hacia los pasos -->
  <div class="header_container">
      <div class="header_containerTitulo">
        <h1 class="header_titulo">La vidriera digital de tu
          </h1>
          <h1 class="header_titulo">showroom favorito
        </h1>
      </div>
  
      <div class="header_containerSelector">
        <div class="header_selector1">
          <select class="select1">
            <option>Tucumán</option>
          </select>
        </div>
      
        <div class="header_selector2">
          <select>
            <option>San Miguel de Tucumán</option>
          </select>
        </div>
      </div>
  
      <div class="header_btn">Como funciona</div>
    </div>
</header>