//***********************************************//
//       Imagen de celular y muñeco OHPSI        //
//        (con su respectiva media querie)       //
//***********************************************//

.contenedor-ohpsi{
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "imgCel      muñeco";
  position: relative;
  top: -65vh;
}

.contenedor-ohpsi .imgCel{
  grid-area: imgCel;
  background-image: url(../../../assets/images/imgCel.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  margin-top: 20vh;
  height: 93vh;
}

.contenedor-ohpsi .muñeco{
  grid-area: muñeco;
  background-image: url(../../../assets/images/Vector3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  //Para ubicar verticalmente a "proximamenteCartel"
  padding: 50vh 3vh 0 3vh;
  height: 169vh;

}

.contenedor-ohpsi .proximamenteCartel{
  background: #fff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 80%;
  //Para central titulo Proximamente! y vector compuesto de 2png
  // (Google Play y App Store)
  text-align: center;
}

.contenedor-ohpsi .tituloCartel {
  line-height: 3em;
  font-family: 'Roboto', sans-serif;
}

.contenedor-ohpsi .vector4{
  padding-bottom: 10%;
  width: 80%;
}

@media screen and (max-width: 998px){
  .contenedor-ohpsi{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imgCelular";
    top: -300vh;
  }

  .contenedor-ohpsi .imgCel {
    grid-area: imgCelular;
  }

  .contenedor-ohpsi .muñeco {
    grid-area: imgCelular;
    position: relative;
    // Para que no se superponga la img del muñeco con la del celular
    z-index: -1;
    align-self: end;
    //Para ubicar verticalmente al cartel debajo de la imagen del celular
    padding: 120vh 0 0 0;
  }

  .contenedor-ohpsi .proximamenteCartel {
    margin: auto;
    width: 90%;
  }

  .contenedor-ohpsi .vector4{
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 768px){
  .contenedor-ohpsi .imgCel{
    height: 70vh;
  }

  .contenedor-ohpsi .muñeco{
    padding-top: 95vh;
  }

  .contenedor-ohpsi .tituloCartel{
    font-size: 2em;
  }
}

@media screen and (max-width: 576px){
  .contenedor-ohpsi .muñeco {
    padding: 75vh 0 0 0;
    // Para que el contenedor no se haga tan largo por ser responsive
    height: 120vh;
  }

  .contenedor-ohpsi .tituloCartel{
    font-size: 1.8em;
  }

  .contenedor-ohpsi .imgCel{
    height: 50vh;
  }
}

@media screen and (max-width: 400px){
  .contenedor-ohpsi .tituloCartel{
    font-size: 1.5em;
  }

  .contenedor-ohpsi .vector4{
    padding-bottom: 10%;
  }
}
