  <!-- Iconos de pasos 1, 2, 3 y 4 con sus repectivos textos al lado -->
  <div class="contenedor-pasos">
    <div class="paso1"></div>
    <div class="contenidoPaso1">
      <h1 class="tituloContenido">Regístrate</h1>
      <p class="textoContenido">con Facebook o Gmail.</p>
    </div>

    <div class="paso2"></div>
    <div class="contenidoPaso2">
      <h1 class="tituloContenido">Busca</h1>
      <p class="textoContenido">por categoría, showroom o por prenda.</p>
    </div>

    <div class="paso3"></div>
    <div class="contenidoPaso3">
      <h1 class="tituloContenido">Reserva</h1>
      <p class="textoContenido">y espera la confirmación del showroom.</p>
    </div>

    <div class="paso4"></div>
    <div class="contenidoPaso4">
      <h1 class="tituloContenido">Anda al showroom</h1>
      <p class="textoContenido">probate la prenda que te gusta y comprala.</p>
    </div>
  </div>
